
nav{
  padding:5px
}
.contianer{
  color:rgb(68, 0, 255);
  margin:0 10px 0 10px;
  flex: 1;
  width:20%;
  text-align:center;
}


/* Challenge 7: Make the font for all elements Arial */
*{
  font-family: 'Times New Roman', Times, serif;
}
/* Challenge 8: Remove the underline for all hyperlinks */
*{
  text-decoration: none;
}
/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
nav a:hover{
  border-bottom: 2px solid black;
}
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
.banner{
  
  color:rgb(255, 0, 0);
  text-align: center;
  }

.logo{
    color: yellow;
    display: flex;
    flex: 2;
    border: solid;
    margin-top: 1000px;
    padding: 1cm;
  }
  
#picture{
  color: lightgreen;
}

.shanxi{
  text-align: left;
  flex: 1;
}

.beijing{
  text-align: center;
  flex: 1;
}
.buliding{
  text-align: right;
  flex: 1;
}
.Opening{
  text-align: center;
  color: white;
}
.mycontainer{
  color:yellow
}
.history {
  display: flex;
  flex-direction: row;
 
}

.yourcontainer {
  display: flex;
  flex-direction: row;
}

.yourcontainer div {
  width: 60%;
  margin: 50px;
  padding: 10px;
  
  color:red;
}
.his{
  color:white;
  border: solid black;

}
.history {
  display: flex;
  flex-direction: row;
 
}

.history div {
  background-color: #f1f1f1;
  width: 50%;
  margin: 50px;
  padding: 10px;
  text-align: center;  
  font-size: 20px;
}

.landmarks {
  display: flex;
  flex-direction: row;
  color: red;
}

.landmarks div {
  width: 20%;
  margin: 10px;
  padding: 50px;
  text-align: center;  
}






/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
